section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    /* background: rgba(112, 165, 156, 0.7); */
}

.index{
    width: 300px;
    height: 300px;  
    border-radius: 50%;
    margin: 25px;
    border: 5px dashed rgba(112, 165, 156, 0.7);
}
.where{
    margin-bottom: 50px;
}
.convenient{
    text-align: center;
    color: white;
    font-family: 微軟正黑體;
    font-size: 2rem;
    background: rgba(112, 165, 156, 0.7);
    margin-bottom: 50px;
    width: 100%;
    padding: 10px;
}
.index:hover{
    clip-path: polygon(21% 31%, 0 50%, 36% 84%, 100% 21%, 81% 4%, 39% 50%);
    cursor: pointer;
}

/* intro */
.where_in{
    background: rgb(112, 165, 156);
    border-radius: 50px;
    width: 700px;
    height: 400px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.intro{
    width: 40%;
    height: 70%;  
    border-radius: 50px;
    margin: 20px;
    /* border: 5px dashed rgba(112, 165, 156, 0.7); */
}
.dir{
    color: #e6e6e6;
    font-size: large;
    margin-right: 15px;
}
.intro_title{
    text-align: center;
    color: white;
    font-family: 微軟正黑體;
    font-size: 2rem;
    background: rgba(112, 165, 156, 0.7);
    margin-bottom: 50px;
    width: 100%;
    padding: 10px;
}