
.out{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3%;
}
.out div{
    border: dashed rgba(112, 165, 156) 5px;
    background: rgba(112, 165, 156, 0.3);
    width: 400px;
    height: 500px;
    border-radius: 20px;
    margin: 50px;
    text-align: center;
    font-family: 微軟正黑體;
    font-weight: bold;
    font-size: 30px;  
    color: #1c302c;
    text-shadow: 1px 1px 0.5px white;
}

.head{
    padding-top: 5px;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    
}
.ig{
    position: relative;
    width: 60px;
    height: 60px;
    margin: 10px;
}
.feel{
    opacity: 0;
    position: absolute;
    left:0%;
    top: 0%;
}
.feel:hover{
    opacity: 1;
    background: rgb(112, 165, 156);
}